address {
  margin-bottom: 1rem;
  width: 50%;
  float: left;
  font-size: 1.2rem;
}

address:nth-child(2n+3) {
  clear: both;
}

h2 {
  font-size: 3.6rem;
  text-align: center;
}

h3 {
  font-size: 1.6rem;
  font-weight: normal;
  text-transform: uppercase;
  clear: both;
  width: 25%;
  float: left;
}

.dealers-state {
  float: left;
  width: 75%;
}

.dealer-name {
  font-size: 1.4rem;
  font-weight: bold;
}

.state-wrapper {
  border-top: 1px solid black;
  padding-top: 1rem;
}
.state-wrapper:first-child {
  border-top: none;
}
